<!-- <ng-container *ngIf="isLoading">
  <div class="progress progress-modal">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
      role="progressbar"
      style="width: 100%"
      aria-valuenow="100"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</ng-container> -->
<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <i class="icon-2x text-dark-50 flaticon-user-add mx-2"></i> Editar
      usuario: {{ user_selected.name + ' ' + user_selected.lastname }}
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <!-- <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container> -->

    <div class="row">
      <!-- Nombre  -->
      <div class="col-6">
        <div class="form-group">
          <label>Nombre <span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            [(ngModel)]="name"
            name="name"
          />
          <span class="form-text text-muted">Ingresa tu nombre: </span>
        </div>
      </div>

      <!-- Apellido  -->
      <div class="col-6">
        <div class="form-group">
          <label>Apellido <span class="text-danger">*</span></label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            [(ngModel)]="surname"
            name="surname"
          />
          <span class="form-text text-muted">Ingresa tus apellidos: </span>
        </div>
      </div>

      <!-- Email  -->
      <div class="col-12">
        <div class="form-group">
          <label>Correo elecrónico: <span class="text-danger">*</span></label>
          <input
            type="email"
            class="form-control"
            placeholder=""
            [(ngModel)]="email"
            name="email"
          />
          <span class="form-text text-muted">Ingresa tu correo tu email</span>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1"
            >Contraseña <span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="****"
            [(ngModel)]="password"
            name="password"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1"
            >Repetir contraseña <span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="****"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary btn-elevate mr-2"
      (click)="save()"
    >
      Guardar
    </button>

    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
  </div>
</div>
