/* You can add global styles to this file, and also import other style files */
// src/styles.scss

// Colores principales de Love Shoes MX
$primary-color: #f797d7;
$secondary-color: #f5b6cd;
$highlight-color: #e377a8;
$text-color: #4b4b4b;
$background-color: #fff0f6;

$accent-color: #d63384; // Puedes cambiar este color por el que mejor combine con tu branding
// _variables.scss
$highlight-secondary: #ff5a5f; // puedes cambiar el color por el que gustes

// Tipografía base
$font-family-base: 'DM Sans', sans-serif;

// Puedes agregar más si lo necesitas...
